.welcomeImage{
  width: 220px;
}
.welcomeText,
.cyberStrapline{
  width: 610px;
}
.welcomeLinks .greenBtn {
  float: none;
  width: 295px;
}
.chartWrapper,
.exploreData,
.dataPlaceholder{
  overflow: visible;
}
.chartStyle{
  margin-top: 0;
}

select option{
  color: #343434;
}

.select:after{
  content: " ";
}

.input-line.disclaimer span{
  margin-top: -23px;
}