/* Normalize css */
  html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
  }
  body {
    margin: 0;
  }
  article,
  aside,
  details,
  figcaption,
  figure,
  footer,
  header,
  hgroup,
  main,
  menu,
  nav,
  section,
  summary {
    display: block;
  }
  audio,
  canvas,
  progress,
  video {
    display: inline-block;
    vertical-align: baseline;
  }
  audio:not([controls]) {
    display: none;
    height: 0;
  }
  a {
    background-color: transparent;
  }
  a:active,
  a:hover {
    outline: 0;
  }
  abbr[title] {
    border-bottom: 1px dotted;
  }
  b,
  strong {
    font-weight: bold;
  }
  dfn {
    font-style: italic;
  }
  h1 {
    font-size: 2em;
    margin: 0.67em 0;
  }
  mark {
    background: #ff0;
    color: #000;
  }
  small {
    font-size: 80%;
  }
  sub,
  sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }
  sup {
    top: -0.5em;
  }
  sub {
    bottom: -0.25em;
  }
  img {
    border: 0;
  }
  svg:not(:root) {
    overflow: hidden;
  }
  figure {
    margin: 1em 40px;
  }
  hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
  }
  pre {
    overflow: auto;
  }
  code,
  kbd,
  pre,
  samp {
    font-family: monospace, monospace;
    font-size: 1em;
  }
  button,
  input,
  optgroup,
  select,
  textarea {
    color: inherit;
    font: inherit;
    margin: 0;
  }
  button {
    overflow: visible;
  }
  button,
  select {
    text-transform: none;
  }
  button,
  html input[type="button"],
  input[type="reset"],
  input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
  }
  button[disabled],
  html input[disabled] {
    cursor: default;
  }
  button::-moz-focus-inner,
  input::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
  input {
    line-height: normal;
  }
  input[type="checkbox"],
  input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
  }
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    height: auto;
  }
  input[type="search"] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
  }
  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
  }
  fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
  }
  legend {
    border: 0;
    padding: 0;
  }
  textarea {
    overflow: auto;
  }
  optgroup {
    font-weight: bold;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  td,
  th {
    padding: 0;
  }
/* Normalize END*/

* { box-sizing: border-box; }
div{ overflow: initial;}
body {
  color: #444444;
  font-size: 16px;
  margin: 0;
  padding: 0;
}
select,
input,
textarea {
  color: #444444;
  font-size: 12px;
}
ul, li, ol {
  margin: 0;
  padding: 0;
}
img{
  max-width: 100%;
}

.brandingBarSearch input[type=text]{
  height: 1.6em;
}
.clearfix:before,
.clearfix:after{
  content: " ";
  display: table;
}
.clearfix:after{
  clear: both;
}

#main {
  margin: 0 auto;
  max-width: 996px;
}

.main-column {
  padding: 50px 50px 50px 50px;
  float: left;
  background-color: #000000;
}


.right-column {
  background: #dfdfdf;
  height: 900px;
  float: left;
  width: 340px;
}

.info{
  padding: 20px 0;
}
.info p{
  font-size: 14px;
  float: left;
  color: #979494;
}
.info img{
  float: right;
}

.chartWrapper {
  background-color: black;
  position: relative;
}

.chartWrapper:before,
.chartWrapper:after{
  content: " ";
  display: table;
  clear: both;
}

.chartStyle {
  padding: 0;
  width: 55%;
  float: left;
  min-height: 310px;
  margin-top: -40px;
}


.exploreData,
.benchmarkData {
  width: 45%;
  float: right;
}

.benchmarkData {
  display: none;
}

.chartInfo{
  clear: both;
  color: #979494;
}

.dataPlaceholder {
  float: left;
  padding: 30px 30px 30px 30px;
  color: #3D9CDC;
  width: 100%;
  border: solid 4px #FFFFFF;
  margin-bottom: 40px;
  background-image: url(../img/gradarrow01.png);
  background-position: left top;
  background-repeat: no-repeat;
  width: 100%;
  position: relative;
  color: #FFF;
}

.dataPlaceholder h3 {
  position: absolute;
  top: -43px;
  color: #3D9CDC;
  font-size: 16px;
  padding: 10px 15px 10px 15px;
  background-color: #000000;
}

.dataPlaceholder h4 {
  float: right;
  font-size: 2.2em;
  padding-top: 0.0em;
  margin: 0.0em 0;
}

.dataPlaceholder p {
  float: left;
  margin: 8px 0 0 0;
  font-size: 14px;
}

.data2014 {
}
.data2013 {
  margin-bottom: 0;
}


#tab-wrapper {
  margin: 20px 15px 0px 0px;
}

#tab-wrapper ul:before, #tab-wrapper ul:after {
  content: " ";
  display: table;
}

#tab-wrapper ul:after {
  clear: both;
}

#tab-wrapper li {
  float: left;
  display: inline-block;
  border-top: 1px solid #007C92;
  border-left: 1px solid #007C92;
  border-right: 1px solid #007C92;
}

#tab-wrapper li.active {
  border-color: #FFF;
  border-bottom: 1px solid #000;
}

#tab-wrapper li.active a {
  color: #FFFFFF;
}

#tab-wrapper li:first-child {
  margin-right: 10px;
  margin-left: 25px;
}

#tab-wrapper li a {
  display: block;
  padding: 15px 25px;
  text-decoration: none;
  color: #007C95;
  text-transform: uppercase;
  font-weight: bold;
}

.tab {
  border-top: 1px solid #E7ECF9;
  margin-top: -1px;
  overflow: visible;
}

.actions {
  float: right;
  padding: 1.4em 0;
}

.actions:before, .actions:after {
  content: " ";
  display: table;
}

.actions:after {
  clear: both;
}

.actions input {
  float: right;
  padding: 10px 15px;
  color: #FFF;
  text-transform: uppercase;
}

.action-apply {
  font-size: 12px;
  background: #007C95;
  margin-top: 1.6em;
  border: 4px solid #1E1E1E;
  color: #FFF;
  padding: 6px 10px 5px 10px;
  text-transform: uppercase;
}

.action-apply:hover {
  background: #005D70;
}


.greenBtn {
  font-size: 12px;
  float: left;
  padding: 10px 15px 10px 30px;
  color: #FFF !important;
  text-transform: uppercase;
  background: #007C95;
  border: solid 4px #1E1E1E;
  background-image: url(../img/yellowarrow.png);
  background-position: left 3px;
  background-repeat: no-repeat;
  margin-bottom: 15px;
  min-width: 295px;
  display: block;
}

.greenBtn:hover {
  background: #005D70;
  background-image: url(../img/yellowarrow.png);
  background-position: left 3px;
  background-repeat: no-repeat;
  text-decoration: none;
}
.greenBtn:focus{
  outline: none;
}

.input-line:before,
.input-line:after{
  content: " ";
  display: table;
  clear: both;
}
.selector{
  float: left;
  margin-right: 1em;
  position: relative;
}

div.selector::after,
.selector:after{
  content:" ";
  display: block;
  position: absolute;
  right: 10px;
  top: 57px;

  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;

  border-top: 5px solid #fff;
}
select {
  -moz-appearance: none;
  -webkit-appearance: none;

  border-radius: 0;
  border: solid 4px #1E1E1E;
  background: #000;
  color: #FFF;
  padding: 5px 15px 5px 5px;
  outline: none;
  max-width: 535px;

  background: #303030; /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzMwMzAzMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjE5JSIgc3RvcC1jb2xvcj0iIzI5MjkyOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwNDA0MDQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  #303030 0%, #292929 19%, #040404 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#303030), color-stop(19%,#292929), color-stop(100%,#040404)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #303030 0%,#292929 19%,#040404 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #303030 0%,#292929 19%,#040404 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #303030 0%,#292929 19%,#040404 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #303030 0%,#292929 19%,#040404 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#303030', endColorstr='#040404',GradientType=0 ); /* IE6-8 */

}




input[type="text"],
input[type="email"] {
  max-width: 100%;
  width: 50%;
  padding: 0.2em;
  color: #222222;
}

.input-line {
  margin: 0em 0 0.25em 0;
}

label:before, label:after {
  content: " ";
  display: table;
}
label:after {
  clear: both;
}
label span {
  display: block;
  margin: 1em 0 0.5em 0;
  color: #FFF;
}
.disclaimer.input-line{
  line-height: 20px;
  font-size: 14px;
}
.disclaimer.input-line input[type="checkbox"]{ float: left;}
.disclaimer.input-line span{ margin: -3px 0 5px 20px; }


/* blog style amends */
.columnWrapper {
  padding-bottom: 0px;
}
.columnWrapper:before,
.columnWrapper:after {
  content: " ";
  display: table;
}
.columnWrapper:after {
  clear: both;
}

.textwidget {
  font-size: 1.0em;
  line-height: 1.5em;
  padding: 10px 10px 10px 10px;
}

h2 {
  color: #007C95 !important;
  font-size: 14px !important;
  font-weight: normal;
  line-height: 125% !important;
  margin-top: 1.125em;
}

.UK-Restyle-gradient-chart {
  color: #007C95 !important;
  font-size: 14px !important;
  margin-top: 40px;
  display: block;
  width: 480px;
  height: 40px;
  background-image: url(/UK/en/restyle/hr-gradient.jpg);
  background-repeat: repeat-x;
}

h3 {
}

.brandingBarTop h1 {
  float: left;
  margin: -22px 0 0 98px !important;
}

.textwidget {
  font-size: 0.75em;
  line-height: 1.5em;
  padding: 0px 0px 0px 0px !important;
}


.main-column p {
}

.main-column label {
}

/* data2014 font colour */
.data2014 h3{
  /*color: #3D9CDC;*/
}
.data2013 h3{
  /*color: #DD4815;*/
}
.data2014 h4{
  color: #FFFFFF;
}
.data2013 h4{
  color: #FFFFFF;
}

/* benchmarkData2014 font colour */

.benchmarkData2014 h3{
  color: #3D9CDC;
}

.benchmarkData2014 h4{
  color: #3D9CDC;
}

.benchmarkData2013 h3{
  color: #3D9CDC;
}

.benchmarkData2013 h4{
  color: #3D9CDC;
}

.benchmarkData h3{
  color: #3D9CDC;
}

/* Welcome page css */

.welcomeMessage{
  margin-top: 50px;
}
.welcomeMessage:before,
.welcomeMessage:after {
  content: " ";
  display: table;
}
.welcomeMessage:after {
  clear: both;
}

.welcomeImage {
  background-color: black;
  float: left;
  max-width: 220px;
}

.welcomeImage h1{
  font-size: 16px;
  color: #FFFFFF;
  line-height: 20px;
  font-weight: bold;
}

.welcomeImage h6{
  font-size: 14px;
  color: #ffffff !important;
  line-height: 20px !important;
  font-weight: normal !important;
}

.welcomeImage p{
  font-size: 14px !important;
  color: #979494;
  line-height: 20px;
  font-weight: normal !important;
}

.welcomeImage a{
  font-size: 14px;
  text-decoration: none;
  color: #007C92;
}

.cyberStrapline {
  float: right;
  width: 610px;
  font-size: 30px;
  color: #ffffff;
  line-height: 34px;
  padding: 10px 0px 15px 0px !important;
  border-top: 4px solid #ffffff;
  border-bottom: 4px solid #ffffff;
}


.welcomeText {
  float: right;
  width: 610px;
  padding: 10px 0px 0px 0px !important;
}

.welcomeText h6{
  font-size: 16px;
  color: #E7602D;
  line-height: 20px;
}

.welcomeText p{
  font-size: 14px;
  color: #ffffff;
  line-height: 20px;
  padding-bottom: 10px;
}

.welcomeText .welcomeLinks{
  margin-top: 25px;
}

.welcomeLinks .greenBtn{
  float: initial;
  max-width: 295px;
}

.disclaimer{
  color: #B2B2B2;
  font-size: 11px;
}

/* Question panel css */
.questionPanel {
  position: relative;
  /*font-size: 14px;*/
  color: #ffffff;
  line-height: 1.2em;
  text-transform: uppercase;
  min-height: 96px;
  border: solid 4px #1E1E1E;
  background-image: url(../img/gradarrow02.png);
  background-position: left top;
  background-repeat: no-repeat;
  margin-bottom: 50px;
}
.questionPanel p{
  float: left;
  left: 0px;
  font-size: 14px;
  color: #ffffff;
  line-height: 20px;
  min-height: 100px;
  text-transform: uppercase;
  padding: 30px 20px 30px 130px;
}

/* Question panel benchmark specific */

.heading h3{
  font-size: 30px;
  line-height: 34px;
  font-weight: 400;
  color: #FFF;
  padding: 10px 0 15px 0;
  border-top: 4px solid white;
  border-bottom: 4px solid white;
  margin: 25px 0;
}
#benchmarkForm h4{
  color: #E7602D;
  font-size: 16px;
  font-weight: 400;
}
.user-data{
  border: solid 4px #1E1E1E;
  padding: 20px;
}
.user-data .input-line{
  text-align: center;
}
.user-data .input-line p{
  margin: 0 0 20px 0;
}
.user-data .input-line:last-child p{
  margin-bottom: 0;
}
.user-data .input-line label span{
  display: inline-block;
  margin: 0 20px 0 0;
  text-align: right;
  width: 80px;
}
.user-data .input-line label input,
.user-data .input-line label select{
  border: solid 4px #1E1E1E;
  color: #444;
  padding: 7px 15px 7px 5px;
  width: 300px;
  font-size: 14px;
}
.user-data .input-line label select{
  -moz-appearance: initial;
  -webkit-appearance: initial;

  background: #FFF;
  border-radius: 0;
  position: relative;
}

.user-data .input-line label select:after{
  content:" ";
  display: block;
  position: absolute;
  right: 10px;
  top: 57px;

  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;

  border-top: 5px solid #f00;
}


.question{
  float: left;
  max-width: 36.9318%; /*(325px * 100 / 880px )*/
  margin: 10px 0;
  font-size: 14px;
  color: #ffffff;
  line-height: 20px;
  padding: 20px;
  min-height: 190px;
  border: solid 4px #1E1E1E;
}
.question-mark-bg,
.answer-bg,
.question-bg{
  float: left;
  width: 50px;
  margin: 0 15px 85px 0;
}
.answer{
  float: left;
  margin: 10px 0;
  margin-left: 2.27%; /* ( 20px * 100 / 880px )*/
  width: 60.7982%; /* 100% - 36.9318% - 2.27% */
  color: #ffffff;
  font-size: 14px;
  padding: 20px;
  border: solid 4px #1E1E1E;
  min-height: 190px;
}
.answer label{
  display: block;
  padding: 5px;
  float: left;
  width: 50%;
}
.answer label input[type="radio"]{
  margin-right: 10px;
  vertical-align: text-top;
}
.line-h,
.line-xh{
  margin-bottom: 25px;
  float: left;
}

#benchmark-tab .actions{
  text-align: center;
  float: initial;
}
#benchmark-tab .actions input{
  float: initial;
  font-size: 12px;
}

/* Graph dashboard*/

.printpdf{
  cursor: pointer;
}
.card {
  border: solid 4px #3b3b3b;
  background: #222222;
  padding: 20px;
  margin-bottom: 25px;
}
.card:before,
.card:after{
  content: " ";
  display: table;
}
.card:after{
  clear: both;
  }
.small-card{
  width: 50%;
  width: calc(50% - 12.5px);
  float: left;
}
.small-card:nth-of-type(2n){
  margin-right: 12.5px;
}
.small-card:nth-of-type(2n+1){
  margin-left: 12.5px;
}

.small-card:after{
  content: " ";
  display: table;
  clear: both;
}

.question-answer {
  border: solid 4px #3b3b3b;
  background: #000;
  padding: 25px;
}
.question-answer p{
  margin: 0 0 10px 0;
  color: #3B7BA1;
  font-size: 14px;
  line-height: 18px;
  font-weight: 600;
}

.question-answer p:before,
.question-answer p:after{
  content: " ";
  display: table;
}
.question-answer p:after{
  clear: both;
}
.question-answer p:first-child{
  color: #FFF;
}
.question-answer .question-mark-bg,
.question-answer .answer-bg,
.question-answer .question-bg{
  margin: 0 15px 0 0;
  vertical-align: middle;
}

.answer-bg + span{
  margin-top: 9px;
  display: inline-block;
}

.tickbox{
  margin: 10px 0;
}



.graph-holder {
  min-height: 400px;
}

#cardQ1 .answer-bg + span{
  display: initial;
}
#cardQ2 .question-bg,
#cardQ3 .question-bg{
  margin-bottom: 65px;
}
#cardQ2 .question-answer,
#cardQ3 .question-answer{
  min-height: 225px;
}
#cardQ2 .question-answer p:first-child > span,
#cardQ3 .question-answer p:first-child > span{
  text-align: justify;
  display: inline-block;
  width: 79%
}
#cardQ3{}
#cardQ4{}
#cardQ5{}
#graphQ5:before,
#graphQ5:after{
  content: " ";
  display: table;
}
#graphQ5:after{
  clear: both;
}
#graphQ5 > div{
  min-height: 400px;
  width: 50%;
  float: left;
}


/* Remove amCharts link */
a[title="JavaScript charts"]{
  display: none !important;
}


@media print {
    *:not(.brandingBar),
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    .brandingBar a{
      color: #FFF !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    img,
    .card {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }
    .main-column img{
      background-color: #000 !important;
    }

    text{
      fill: #000;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}