.chartWrapper {
  background-color: $black;
  position: relative;
}
.chartStyle {
  background-color: $black;
  padding: 0;
  float: left;
  width: 450px;
  height: 400px;
}
.highestSectorData {
  height: 400px;
}
.data2014 {
  color: #3D9CDC;
}
.data2013 {
  color: #DD4815;
}

.data2014 {
}

.data2013 {
}