body {
  color: $color_tundora;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

select,
input,
textarea {
  color: $color_tundora;
  font-size: 16px;
}

ul, li, ol{
  margin: 0;
  padding: 0
}

#main {
  margin: 0 auto;
  max-width:980px;
}

.kpmgHeader {
  background: url("/img/header.png") no-repeat transparent 0 0;
  height: 97px;
}

.main-column {
  float: left;
  width: (750*100/980) * 1%; // 750px max from their site
  padding-bottom: 3em;
}
.right-column {
  background: $color_bon_jour;
  height: 900px;
  float: left;
  width: (230*100/980) * 1%; // 230px max from their site
}
